[data-theme="dark"] body {
	--wp--preset--color--primary: hsl(265, 34%, 34%);
	--wp--preset--color--accent: hsl(342, 92%, 54%);
	--wp--preset--color--warning: hsl(46, 100%, 61%);
	--wp--preset--color--success: hsl(122, 50%, 60%);
	--wp--preset--color--error: hsl(342, 92%, 54%);
	--wp--preset--color--bg: hsl(203, 24%, 13%);
	--wp--preset--color--contrast-lower: hsl(208, 12%, 24%);
	--wp--preset--color--contrast-low: hsl(208, 6%, 40%);
	--wp--preset--color--contrast-medium: hsl(213, 5%, 56%);
	--wp--preset--color--contrast-high: hsl(223, 8%, 82%);
	--wp--preset--color--contrast-higher: hsl(240, 100%, 99%);
}
