/* -------------------------------- 

File#: _2_adv-custom-select
Title: Advanced Custom Select
Descr: Custom select with advanced structure options
Usage: codyhouse.co/license

-------------------------------- */
/* variables */
:root {
	/* colors */
	--ac5-color-primary-hsl: 250, 84%, 54%;
	--ac5-color-bg-hsl: 0, 0%, 100%;
	--ac5-color-contrast-high-hsl: 230, 7%, 23%;
	--ac5-color-contrast-higher-hsl: 230, 13%, 9%;
	--ac5-color-primary-dark-hsl: 250, 84%, 46%;
	--ac5-color-contrast-medium-hsl: 225, 4%, 47%;
	--ac5-color-bg-light-hsl: 0, 0%, 100%;
	--ac5-color-white-hsl: 0, 0%, 100%;
	--ac5-color-bg-dark-hsl: 240, 4%, 95%;
	--ac5-color-bg-lighter-hsl: 0, 0%, 100%;
	--ac5-color-black-hsl: 231, 15%, 9%;

	/* spacing */
	--ac5-space-3xs: 0.25rem;
	--ac5-space-2xs: 0.375rem;
	--ac5-space-sm: 0.75rem;
}

@media(min-width: 64rem) {
	:root {
		/* spacing */
		--ac5-space-3xs: 0.375rem;
		--ac5-space-2xs: 0.5625rem;
		--ac5-space-sm: 1.125rem;
	}
}

/* buttons */
.ac5-btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	white-space: nowrap;
	text-decoration: none;
	background: hsl(var(--ac5-color-bg-dark-hsl));
	color: hsl(var(--ac5-color-contrast-higher-hsl));
	cursor: pointer;
	text-decoration: none;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: all 0.2s ease;
	will-change: transform;
	padding: var(--ac5-space-2xs) var(--ac5-space-sm);
	border-radius: 0.25em;
}

.ac5-btn:focus-visible {
	box-shadow: 0px 0px 0px 2px hsl(var(--ac5-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--ac5-color-contrast-higher-hsl), 0.15);
	outline: none;
}

.ac5-btn:active {
	transform: translateY(2px);
}

.ac5-btn--subtle {
	background: hsl(var(--ac5-color-bg-lighter-hsl));
	color: hsl(var(--ac5-color-contrast-higher-hsl));
	box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.ac5-btn--subtle:hover {
	background: hsl(var(--ac5-color-bg-light-hsl));
	box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.ac5-btn--subtle:focus {
	box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px hsl(var(--ac5-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--ac5-color-contrast-high-hsl));
}

/* icons */
.ac5-icon {
	height: var(--ac5-size, 1em);
	width: var(--ac5-size, 1em);
	display: inline-block;
	color: inherit;
	fill: currentColor;
	line-height: 1;
	flex-shrink: 0;
	max-width: initial;
}

.ac5-icon--2xs {
	--ac5-size: 12px;
}

.ac5-icon--xs {
	--ac5-size: 16px;
}

/* component */
.adv-select-popover {
	--space-unit: 1rem;
	--text-unit: 1rem;
	font-size: var(--text-unit);
}

.adv-select-popover.popover {
	--popover-width: 250px;
	--popover-control-gap: 4px;
	--popover-viewport-gap: 20px;
	--popover-transition-duration: 0.2s;
}

@media (min-width: 64rem) {
	.adv-select-popover.popover {
		--popover-width: 320px;
	}
}

.adv-select-popover__optgroup:not(:first-of-type) {
	padding-top: var(--ac5-space-2xs);
}

.adv-select-popover__optgroup:not(:last-of-type) {
	border-bottom: 1px solid hsla(var(--ac5-color-contrast-higher-hsl), 0.1);
	padding-bottom: var(--ac5-space-2xs);
}

.adv-select-popover__check {
	display: none;
}

.adv-select-popover__label {
	font-size: 0.833rem
}

.adv-select-popover__option {
	position: relative;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 0.2s;
}

.adv-select-popover__option:hover {
	background-color: hsla(var(--ac5-color-contrast-higher-hsl), 0.075);
}

.adv-select-popover__option:focus {
	outline: none;
	background-color: hsla(var(--ac5-color-primary-hsl), 0.15);
}

.adv-select-popover__option[aria-selected=true] {
	background-color: hsl(var(--ac5-color-primary-hsl));
	color: hsl(var(--ac5-color-white-hsl));
}

.adv-select-popover__option[aria-selected=true] .adv-select-popover__check {
	display: block;
}

.adv-select-popover__option[aria-selected=true]:focus {
	box-shadow: inset 0 0 0 2px hsl(var(--ac5-color-primary-dark-hsl));
}

.adv-select-hide {
	display: none;
}

/* utility classes */
.ac5-margin-left-auto {
	margin-left: auto;
}

.ac5-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ac5-margin-right-2xs {
	margin-right: var(--ac5-space-2xs);
}

.ac5-object-cover {
	object-fit: cover;
}

.ac5-radius-50\% {
	border-radius: 50%;
}

.ac5-height-md {
	height: 2rem;
}

.ac5-width-md {
	width: 2rem;
}

.ac5-items-center {
	align-items: center;
}

.ac5-flex {
	display: flex;
}

.ac5-padding-x-sm {
	padding-left: var(--ac5-space-sm);
	padding-right: var(--ac5-space-sm);
}

.ac5-padding-y-3xs {
	padding-top: var(--ac5-space-3xs);
	padding-bottom: var(--ac5-space-3xs);
}

.ac5-padding-y-2xs {
	padding-top: var(--ac5-space-2xs);
	padding-bottom: var(--ac5-space-2xs);
}

.ac5-color-contrast-medium {
	--ac5-color-o: 1;
	color: hsla(var(--ac5-color-contrast-medium-hsl), var(--ac5-color-o, 1));
}

.ac5-hide {
	display: none !important;
}

.ac5-shadow-md {
	box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

:where(.ac5-inner-glow) {
	position: relative;
}

.ac5-inner-glow::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	pointer-events: none;
	box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
}

.ac5-radius-md {
	border-radius: 0.25em;
}

.ac5-bg-light {
	--ac5-bg-o: 1;
	background-color: hsla(var(--ac5-color-bg-light-hsl), var(--ac5-bg-o, 1));
}

.ac5-margin-left-2xs {
	margin-left: var(--ac5-space-2xs);
}
