.wp-site-blocks #ais-wrapper {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  gap: var(--wp--preset--spacing--component-padding);
}
.wp-site-blocks #ais-main,
.wp-site-blocks #ais-facets {
  padding: 0;
}
.wp-site-blocks #ais-facets {
  transition: 0;
}
@media (max-width: 1000px) {
  .wp-site-blocks #ais-facets {
    display: block;
    position: fixed;
    background-color: var(--wp--preset--color--bg);
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    box-shadow: var(--wp--preset--shadow--lg);
    width: 100%;
    max-width: 380px;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .wp-site-blocks #ais-facets > div {
    padding-left: var(--wp--preset--spacing--sm);
    padding-right: var(--wp--preset--spacing--sm);
  }
}
.wp-site-blocks .ais-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.wp-site-blocks .ais-overlay.is-visible {
  display: none;
}
@media (max-width: 1000px) {
  .wp-site-blocks .ais-overlay.is-visible {
    display: block;
  }
}
.wp-site-blocks #ais-facets.is-visible {
  transform: translateX(0);
}
.wp-site-blocks .ais-facets__filter {
  position: absolute;
  right: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: var(--wp--preset--color--contrast-high);
  font-size: var(--wp--preset--font-size--lg);
  top: 0;
  bottom: 0;
  margin: auto;
}
.wp-site-blocks .ais-facets__header {
  display: none;
  border-bottom: 1px solid var(--wp--preset--color--contrast-lower);
  padding-top: var(--wp--preset--spacing--sm);
  padding-bottom: var(--wp--preset--spacing--sm);
}
@media (max-width: 1000px) {
  .wp-site-blocks .ais-facets__header {
    display: flex;
    justify-content: space-between;
  }
}
.wp-site-blocks .ais-facets__close {
  border: 0;
  background: var(--wp--preset--color--contrast-lower);
  border-radius: 50%;
  width: var(--wp--preset--spacing--md);
  height: var(--wp--preset--spacing--md);
  font-size: var(--wp--preset--font-size--lg);
  cursor: pointer;
}
.wp-site-blocks .ais-facets {
  font-size: var(--wp--preset--font-size--sm);
  margin: 0;
}
.wp-site-blocks #algolia-search-box input {
  border-color: var(--wp--preset--color--accent);
  padding-left: var(--wp--preset--spacing--md);
  color: var(--wp--preset--color--contrast-high);
}
.wp-site-blocks #algolia-search-box input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.wp-site-blocks #algolia-search-box input::-webkit-search-cancel-button::after {
  content: "&times;";
}
.wp-site-blocks .ais-Stats-text {
  color: var(--wp--preset--color--contrast-medium);
}
.wp-site-blocks .algolia-search-box-wrapper .search-icon,
.wp-site-blocks .algolia-icon {
  --size: var(--wp--preset--font-size--xl);
  fill: var(--wp--preset--color--contrast-high);
  top: 0;
  bottom: 0;
  margin: auto;
}
.wp-site-blocks .algolia-icon {
  --size: var(--wp--preset--font-size--base);
  position: absolute;
  right: 2.5rem;
}
@media (min-width: 64rem) {
  .wp-site-blocks .algolia-icon {
    right: 0;
  }
}
.wp-site-blocks .ais-Hits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--component-padding);
}
.wp-site-blocks .ais-Hits-item {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}
.wp-site-blocks .ais-Hits-item em,
.wp-site-blocks .ais-Hits-item a em,
.wp-site-blocks .ais-Hits-item mark,
.wp-site-blocks .ais-Hits-item a mark {
  background: none;
  box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--accent);
  padding: 0 0 1px;
  border-radius: 0;
}
@media (min-width: 600px) {
  .wp-site-blocks .ais-Hits-item {
    width: calc(50% - var(--wp--preset--spacing--component-padding) / 2);
  }
}
.wp-site-blocks .widgettitle {
  margin-bottom: var(--wp--preset--spacing--xxxs);
}
.wp-site-blocks .ais-facets ul {
  margin-top: 0;
}
.wp-site-blocks .ais-Menu-link,
.wp-site-blocks .ais-HierarchicalMenu-link,
.wp-site-blocks .ais-RefinementList-label {
  padding-left: 1.5rem;
  position: relative;
  display: block;
  margin-bottom: var(--wp--preset--spacing--xxxs);
}
.wp-site-blocks .ais-Menu-link,
.wp-site-blocks .ais-HierarchicalMenu-link {
  text-decoration: none;
}
.wp-site-blocks .ais-RefinementList-label {
  cursor: pointer;
}
.wp-site-blocks .ais-Menu-link::before,
.wp-site-blocks .ais-HierarchicalMenu-link::before,
.wp-site-blocks .ais-RefinementList-checkbox {
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid var(--wp--preset--color--contrast-medium);
}
.wp-site-blocks .ais-Menu-link::before,
.wp-site-blocks .ais-HierarchicalMenu-link::before {
  content: "";
  top: 3px;
  border-radius: 20rem;
}
.wp-site-blocks .ais-RefinementList-checkbox {
  padding: 0;
  margin: 0;
  top: 4px;
  appearance: none;
  border-radius: var(--wp--custom--radius-md);
}
.wp-site-blocks .ais-Menu-item--selected .ais-Menu-link::before,
.wp-site-blocks .ais-HierarchicalMenu-item--selected .ais-HierarchicalMenu-link::before,
.wp-site-blocks .ais-RefinementList-checkbox:checked {
  background-color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
  background-repeat: no-repeat;
  background-position: center;
}
.wp-site-blocks .ais-RefinementList-checkbox:checked {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMicgaGVpZ2h0PScxMicgdmlld0JveD0nMCAwIDEyIDEyJz48cG9seWxpbmUgcG9pbnRzPScxIDYuNSA0IDkuNSAxMSAyLjUnIGZpbGw9J25vbmUnIHN0cm9rZT0nI0ZGRkZGRicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4=);
  background-size: 11px;
}
.wp-site-blocks .ais-Menu-link:hover::before,
.wp-site-blocks .ais-HierarchicalMenu-link:hover::before,
.wp-site-blocks .ais-RefinementList-label:hover .ais-RefinementList-checkbox {
  border-color: var(--wp--preset--color--contrast-high);
}
.wp-site-blocks .ais-Menu-label,
.wp-site-blocks .ais-HierarchicalMenu-label,
.wp-site-blocks .ais-RefinementList-labelText,
.wp-site-blocks .ais-RefinementList-label {
  margin-right: 5px;
}
.wp-site-blocks .ais-Menu-link:hover .ais-Menu-label,
.wp-site-blocks .ais-HierarchicalMenu-link:hover .ais-HierarchicalMenu-label,
.wp-site-blocks .ais-RefinementList-label:hover .ais-RefinementList-labelText {
  text-decoration: underline;
}
.wp-site-blocks .ais-Menu-item--selected,
.wp-site-blocks .ais-HierarchicalMenu-item--selected {
  font-weight: 400;
}
.wp-site-blocks .ais-Menu-item--selected .ais-Menu-link::before,
.wp-site-blocks .ais-HierarchicalMenu-item--selected .ais-HierarchicalMenu-link::before {
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PGcgY2xhc3M9J25jLWljb24td3JhcHBlcicgZmlsbD0nI2ZmZmZmZic+PGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzgnIGZpbGw9JyNmZmZmZmYnPjwvY2lyY2xlPjwvZz48L3N2Zz4=);
  background-size: 7px;
}
.wp-site-blocks .ais-HierarchicalMenu--noRefinement::before,
.wp-site-blocks .ais-RefinementList--noRefinement::before {
  content: "No matches";
  font-style: italic;
  color: var(--wp--preset--color--contrast-medium);
}
.wp-site-blocks .ais-Menu-count,
.wp-site-blocks .ais-HierarchicalMenu-count,
.wp-site-blocks .ais-RefinementList-count {
  margin: 0;
  background-color: var(--wp--preset--color--contrast-lower);
  padding: var(--wp--preset--spacing--xxxxs) var(--wp--preset--spacing--xxxs);
  font-size: var(--wp--preset--font-size--xs);
  border-radius: 20rem;
  vertical-align: middle;
}
.wp-site-blocks .ais-Pagination-list {
  margin: var(--wp--preset--spacing--md) 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp--preset--spacing--component-padding);
  justify-content: center;
}
.wp-site-blocks .ais-Pagination-item {
  padding: 0;
}
.wp-site-blocks .ais-Pagination-link {
  background-color: var(--wp--preset--color--contrast-lower);
  color: var(--wp--preset--color--contrast-high);
  text-decoration: none;
  border-radius: var(--wp--custom--radius-lg);
  padding: var(--wp--preset--spacing--xxxs) var(--wp--preset--spacing--xs);
}
.wp-site-blocks .ais-Pagination-link:hover {
  opacity: 0.9;
}
.wp-site-blocks .ais-Pagination-item--selected {
  font-weight: 400;
}
.wp-site-blocks .ais-Pagination-item--selected .ais-Pagination-link {
  background-color: var(--wp--preset--color--contrast-high);
  color: var(--wp--preset--color--contrast-lower);
}
