@charset "UTF-8";
[data-theme=dark] body {
  --wp--preset--color--primary: hsl(265, 34%, 34%);
  --wp--preset--color--accent: hsl(342, 92%, 54%);
  --wp--preset--color--warning: hsl(46, 100%, 61%);
  --wp--preset--color--success: hsl(122, 50%, 60%);
  --wp--preset--color--error: hsl(342, 92%, 54%);
  --wp--preset--color--bg: hsl(203, 24%, 13%);
  --wp--preset--color--contrast-lower: hsl(208, 12%, 24%);
  --wp--preset--color--contrast-low: hsl(208, 6%, 40%);
  --wp--preset--color--contrast-medium: hsl(213, 5%, 56%);
  --wp--preset--color--contrast-high: hsl(223, 8%, 82%);
  --wp--preset--color--contrast-higher: hsl(240, 100%, 99%);
}

button.wp-block-button__link:not(.is-style-outline) {
  border-width: 0;
}

.contact-form .wp-block-jetpack-contact-form {
  gap: var(--wp--preset--spacing--component-padding);
}
.contact-form .wp-block-jetpack-contact-form .grunion-field-wrap {
  border: 0;
}
.contact-form .wp-block-jetpack-contact-form .grunion-field-wrap label {
  margin-bottom: var(--wp--preset--spacing--xxs);
  font-size: var(--wp--preset--font-size--sm);
  font-weight: 400;
}
@media (min-width: 600px) {
  .contact-form .wp-block-jetpack-contact-form .grunion-field-width-25-wrap {
    flex-basis: calc(25% - (var(--wp--preset--spacing--component-padding) / 2));
  }
}
@media (min-width: 600px) {
  .contact-form .wp-block-jetpack-contact-form .grunion-field-width-50-wrap {
    flex-basis: calc(50% - (var(--wp--preset--spacing--component-padding) / 2));
  }
}
@media (min-width: 600px) {
  .contact-form .wp-block-jetpack-contact-form .grunion-field-width-75-wrap {
    flex-basis: calc(75% - (var(--wp--preset--spacing--component-padding) / 2));
  }
}
.contact-form .wp-block-jetpack-contact-form input[type=email],
.contact-form .wp-block-jetpack-contact-form input[type=tel],
.contact-form .wp-block-jetpack-contact-form input[type=text],
.contact-form .wp-block-jetpack-contact-form input[type=url],
.contact-form .wp-block-jetpack-contact-form textarea {
  margin-bottom: 0;
  border: 0;
  background-color: var(--wp--preset--color--bg);
  color: inherit;
  line-height: calc(var(--wp--custom--line-height-body) * var(--wp--custom--line-height-multiplier, 1));
  padding: var(--wp--preset--spacing--xxs) var(--wp--preset--spacing--xs);
  border-radius: var(--wp--custom--radius-md);
  box-shadow: inset 0px 0px 0px 1px var(--wp--preset--color--contrast-lower);
}

@media (max-width: 600px) {
  .wp-block-jetpack-contact-form .grunion-field-wrap[class*=grunion-field-width-] {
    flex: 0 0 100%;
  }
}
[data-carousel-extra]:not(.jp-carousel-wrap) img:hover {
  opacity: 0.9;
}

.wp-block-search__inside-wrapper, .wp-block-search__input, .wp-block-search__button {
  position: relative;
}
.wp-block-search__inside-wrapper:has(.aa-input[aria-expanded=true]:valid):before {
  content: "";
  position: absolute;
  background-color: inherit;
  width: 100%;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/* --------------------------------

File#: _1_popover
Title: Popover
Descr: A pop-up box controlled by a trigger element
Usage: codyhouse.co/license

-------------------------------- */
/* variables */
:root {
  /* colors */
  --pd8-color-primary-hsl: 250, 84%, 54%;
  --pd8-color-bg-hsl: 0, 0%, 100%;
  --pd8-color-contrast-high-hsl: 230, 7%, 23%;
  --pd8-color-contrast-higher-hsl: 230, 13%, 9%;
  --pd8-color-bg-light-hsl: 0, 0%, 100%;
  --pd8-color-bg-dark-hsl: 240, 4%, 95%;
  --pd8-color-white-hsl: 0, 0%, 100%;
  --pd8-color-primary-darker-hsl: 250, 84%, 38%;
  --pd8-color-primary-light-hsl: 250, 84%, 60%;
  --pd8-color-accent-hsl: 342, 89%, 48%;
  --pd8-color-contrast-lower-hsl: 240, 4%, 85%;
  /* spacing */
  --pd8-space-sm: 0.75rem;
  --pd8-space-2xs: 0.375rem;
  --pd8-space-md: 1.25rem;
  --pd8-space-xs: 0.5rem;
  /* typography */
  --pd8-text-base: 1rem;
  --pd8-text-sm: 0.833rem;
  --pd8-text-sm: 0.833rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --pd8-space-sm: 1.125rem;
    --pd8-space-2xs: 0.5625rem;
    --pd8-space-md: 2rem;
    --pd8-space-xs: 0.75rem;
    /* typography */
    --pd8-text-base: 1.25rem;
    --pd8-text-sm: 1rem;
    --pd8-text-sm: 1rem;
  }
}
/* buttons */
.pd8-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--pd8-color-bg-dark-hsl));
  color: hsl(var(--pd8-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--pd8-space-2xs) var(--pd8-space-sm);
  border-radius: 0.25em;
}

.pd8-btn:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--pd8-color-bg-hsl)), 0 0 0 4px hsla(var(--pd8-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.pd8-btn:active {
  transform: translateY(2px);
}

.pd8-btn--primary {
  background: hsl(var(--pd8-color-primary-hsl));
  color: hsl(var(--pd8-color-white-hsl));
  box-shadow: inset 0 1px 0 hsla(var(--pd8-color-white-hsl), 0.15), 0 1px 3px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0 2px 6px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0 6px 10px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25);
}

.pd8-btn--primary:hover {
  background: hsl(var(--pd8-color-primary-light-hsl));
  box-shadow: inset 0 1px 0 hsla(var(--pd8-color-white-hsl), 0.15), 0 1px 2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0 1px 4px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0 3px 6px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25);
}

.pd8-btn--primary:focus {
  box-shadow: inset 0 1px 0 hsla(var(--pd8-color-white-hsl), 0.15), 0 1px 2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0 1px 4px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0 3px 6px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0 0 0 2px hsl(var(--pd8-color-bg-hsl)), 0 0 0 4px hsl(var(--pd8-color-primary-hsl));
}

/* component */
:root {
  --popover-width: 250px;
  --popover-control-gap: 4px;
  --popover-viewport-gap: 20px;
  --popover-transition-duration: 0.2s;
}

.popover {
  position: fixed;
  width: var(--popover-width);
  z-index: 5;
  margin-top: var(--popover-control-gap);
  margin-bottom: var(--popover-control-gap);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s var(--popover-transition-duration), opacity var(--popover-transition-duration);
}

.popover--is-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity var(--popover-transition-duration);
}

/* utility classes */
.pd8-text-sm {
  font-size: var(--pd8-text-sm);
}

.pd8-text-base {
  font-size: var(--pd8-text-base);
}

.pd8-text-gap-sm {
  --pd8-space-multiplier: 0.75;
}

.pd8-text-component :where(h1, h2, h3, h4) {
  line-height: var(--pd8-heading-line-height, 1.2);
  margin-top: calc(var(--pd8-space-md) * var(--pd8-space-multiplier, 1));
  margin-bottom: calc(var(--pd8-space-sm) * var(--pd8-space-multiplier, 1));
}

.pd8-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--pd8-body-line-height, 1.4);
}

.pd8-text-component :where(ul, ol, p, blockquote, .pd8-text-component__block) {
  margin-bottom: calc(var(--pd8-space-sm) * var(--pd8-space-multiplier, 1));
}

.pd8-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.pd8-text-component ul :where(ul, ol),
.pd8-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.pd8-text-component ul {
  list-style-type: disc;
}

.pd8-text-component ol {
  list-style-type: decimal;
}

.pd8-text-component img {
  display: block;
  margin: 0 auto;
}

.pd8-text-component figcaption {
  margin-top: calc(var(--pd8-space-xs) * var(--pd8-space-multiplier, 1));
  font-size: var(--pd8-text-sm);
  text-align: center;
}

.pd8-text-component em {
  font-style: italic;
}

.pd8-text-component strong {
  font-weight: bold;
}

.pd8-text-component s {
  text-decoration: line-through;
}

.pd8-text-component u {
  text-decoration: underline;
}

.pd8-text-component mark {
  background-color: hsla(var(--pd8-color-accent-hsl), 0.2);
  color: inherit;
}

.pd8-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--pd8-color-contrast-lower-hsl));
  font-style: italic;
}

.pd8-text-component hr {
  margin: calc(var(--pd8-space-md) * var(--pd8-space-multiplier, 1)) auto;
  background: hsl(var(--pd8-color-contrast-lower-hsl));
  height: 1px;
}

.pd8-text-component > *:first-child {
  margin-top: 0;
}

.pd8-text-component > *:last-child {
  margin-bottom: 0;
}

.pd8-text-component.pd8-line-height-xs {
  --pd8-heading-line-height: 1;
  --pd8-body-line-height: 1.1;
}

.pd8-text-component.pd8-line-height-sm {
  --pd8-heading-line-height: 1.1;
  --pd8-body-line-height: 1.2;
}

.pd8-text-component.pd8-line-height-md {
  --pd8-heading-line-height: 1.15;
  --pd8-body-line-height: 1.4;
}

.pd8-text-component.pd8-line-height-lg {
  --pd8-heading-line-height: 1.22;
  --pd8-body-line-height: 1.58;
}

.pd8-text-component.pd8-line-height-xl {
  --pd8-heading-line-height: 1.3;
  --pd8-body-line-height: 1.72;
}

.pd8-shadow-md {
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

:where(.pd8-inner-glow) {
  position: relative;
}

.pd8-inner-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0deg, 0%, 100%, 0.075);
}

.pd8-radius-md {
  border-radius: 0.25em;
}

.pd8-padding-sm {
  padding: var(--pd8-space-sm);
}

.pd8-bg-light {
  --pd8-bg-o: 1;
  background-color: hsla(var(--pd8-color-bg-light-hsl), var(--pd8-bg-o, 1));
}

/* --------------------------------

File#: _1_responsive-sidebar
Title: Responsive Sidebar
Descr: Responsive sidebar container
Usage: codyhouse.co/license

-------------------------------- */
/* variables */
:root {
  /* colors */
  --rz4-color-primary-hsl: 250, 84%, 54%;
  --rz4-color-bg-hsl: 0, 0%, 100%;
  --rz4-color-contrast-high-hsl: 230, 7%, 23%;
  --rz4-color-contrast-higher-hsl: 230, 13%, 9%;
  --rz4-color-bg-light-hsl: 0, 0%, 100%;
  --rz4-color-bg-lighter-hsl: 0, 0%, 100%;
  --rz4-color-black-hsl: 231, 15%, 9%;
  --rz4-color-bg-dark-hsl: 240, 4%, 95%;
  --rz4-color-white-hsl: 0, 0%, 100%;
  --rz4-color-primary-darker-hsl: 250, 84%, 38%;
  --rz4-color-primary-light-hsl: 250, 84%, 60%;
  --rz4-color-accent-hsl: 342, 89%, 48%;
  --rz4-color-contrast-lower-hsl: 240, 4%, 85%;
  /* spacing */
  --rz4-space-sm: 0.75rem;
  --rz4-space-md: 1.25rem;
  --rz4-space-lg: 2rem;
  --rz4-space-xl: 3.25rem;
  --rz4-space-2xs: 0.375rem;
  --rz4-space-xs: 0.5rem;
  /* typography */
  --rz4-text-md: 1.2rem;
  --rz4-text-sm: 0.833rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --rz4-space-sm: 1.125rem;
    --rz4-space-md: 2rem;
    --rz4-space-lg: 3.125rem;
    --rz4-space-xl: 5.125rem;
    --rz4-space-2xs: 0.5625rem;
    --rz4-space-xs: 0.75rem;
    /* typography */
    --rz4-text-md: 1.5625rem;
    --rz4-text-sm: 1rem;
  }
}
/* buttons */
.rz4-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  background: hsl(var(--rz4-color-bg-dark-hsl));
  color: hsl(var(--rz4-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--rz4-space-2xs) var(--rz4-space-sm);
  border-radius: 0.25em;
}

.rz4-btn:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--rz4-color-bg-hsl)), 0 0 0 4px hsla(var(--rz4-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.rz4-btn:active {
  transform: translateY(2px);
}

.rz4-btn--primary {
  background: hsl(var(--rz4-color-primary-hsl));
  color: hsl(var(--rz4-color-white-hsl));
  box-shadow: inset 0 1px 0 hsla(var(--rz4-color-white-hsl), 0.15), 0 1px 3px hsla(var(--rz4-color-primary-darker-hsl), 0.25), 0 2px 6px hsla(var(--rz4-color-primary-darker-hsl), 0.1), 0 6px 10px -2px hsla(var(--rz4-color-primary-darker-hsl), 0.25);
}

.rz4-btn--primary:hover {
  background: hsl(var(--rz4-color-primary-light-hsl));
  box-shadow: inset 0 1px 0 hsla(var(--rz4-color-white-hsl), 0.15), 0 1px 2px hsla(var(--rz4-color-primary-darker-hsl), 0.25), 0 1px 4px hsla(var(--rz4-color-primary-darker-hsl), 0.1), 0 3px 6px -2px hsla(var(--rz4-color-primary-darker-hsl), 0.25);
}

.rz4-btn--primary:focus {
  box-shadow: inset 0 1px 0 hsla(var(--rz4-color-white-hsl), 0.15), 0 1px 2px hsla(var(--rz4-color-primary-darker-hsl), 0.25), 0 1px 4px hsla(var(--rz4-color-primary-darker-hsl), 0.1), 0 3px 6px -2px hsla(var(--rz4-color-primary-darker-hsl), 0.25), 0 0 0 2px hsl(var(--rz4-color-bg-hsl)), 0 0 0 4px hsl(var(--rz4-color-primary-hsl));
}

/* icons */
.rz4-icon {
  height: var(--rz4-size, 1em);
  width: var(--rz4-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentcolor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.rz4-icon--xs {
  --rz4-size: 16px;
}

/* component */
/* mobile version only (--default) 👇 */
.sidebar:not(.sidebar--static) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.3s;
}

.sidebar:not(.sidebar--static)::after {
  /* overlay layer */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--rz4-color-black-hsl), 0);
  transition: background-color 0.3s;
  z-index: 1;
}

.sidebar:not(.sidebar--static) .sidebar__panel {
  /* content */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  max-width: 380px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--wp--preset--color--bg);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.sidebar:not(.sidebar--static).sidebar--right-on-mobile .sidebar__panel {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sidebar:not(.sidebar--static).sidebar--is-visible {
  visibility: visible;
  transition: none;
}

.sidebar:not(.sidebar--static).sidebar--is-visible::after {
  background-color: hsla(var(--rz4-color-black-hsl), 0.85);
}

.sidebar:not(.sidebar--static).sidebar--is-visible .sidebar__panel {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

/* end mobile version */
.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar__close-btn {
  --rz4-size: 32px;
  color: var(--wp--preset--color--contrast-high);
  width: var(--rz4-size);
  height: var(--rz4-size);
  display: flex;
  border-radius: 50%;
  background-color: var(--wp--preset--color--bg);
  transition: 0.2s;
  flex-shrink: 0;
  cursor: pointer;
  border: 0;
}

.sidebar__close-btn svg {
  display: block;
  margin: auto;
}

.sidebar__close-btn:hover {
  background-color: var(--wp--preset--color--contrast-high);
  color: var(--wp--preset--color--bg);
}

/* desktop version only (--static) 👇 */
.sidebar--static {
  flex-shrink: 0;
  flex-grow: 1;
}

.sidebar--static .sidebar__header {
  display: none;
}

.sidebar--sticky-on-desktop {
  position: -webkit-sticky;
  position: sticky;
  top: var(--rz4-space-sm);
  max-height: calc(100vh - var(--rz4-space-sm));
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* end desktop version */
.sidebar,
.sidebar-loaded\:show {
  opacity: 0;
}

.sidebar--loaded {
  opacity: 1;
}

[class*=sidebar--static]::before {
  display: none;
}

.sidebar--static::before {
  content: "static";
}

.sidebar--static\@xs::before {
  content: "mobile";
}

@media (min-width: 32rem) {
  .sidebar--static\@xs::before {
    content: "static";
  }
}
.sidebar--static\@sm::before {
  content: "mobile";
}

@media (min-width: 48rem) {
  .sidebar--static\@sm::before {
    content: "static";
  }
}
.sidebar--static\@md::before {
  content: "mobile";
}

@media (min-width: 64rem) {
  .sidebar--static\@md::before {
    content: "static";
  }
}
.sidebar--static\@lg::before {
  content: "mobile";
}

@media (min-width: 80rem) {
  .sidebar--static\@lg::before {
    content: "static";
  }
}
.sidebar--static\@xl::before {
  content: "mobile";
}

@media (min-width: 90rem) {
  .sidebar--static\@xl::before {
    content: "static";
  }
}
/* utility classes */
.rz4-padding-md {
  padding: var(--rz4-space-md);
}

.rz4-text-component :where(h1, h2, h3, h4) {
  line-height: var(--rz4-heading-line-height, 1.2);
  margin-top: calc(var(--rz4-space-md) * var(--rz4-space-multiplier, 1));
  margin-bottom: calc(var(--rz4-space-sm) * var(--rz4-space-multiplier, 1));
}

.rz4-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--rz4-body-line-height, 1.4);
}

.rz4-text-component :where(ul, ol, p, blockquote, .rz4-text-component__block) {
  margin-bottom: calc(var(--rz4-space-sm) * var(--rz4-space-multiplier, 1));
}

.rz4-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.rz4-text-component ul :where(ul, ol),
.rz4-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.rz4-text-component ul {
  list-style-type: disc;
}

.rz4-text-component img {
  display: block;
  margin: 0 auto;
}

.rz4-text-component figcaption {
  margin-top: calc(var(--rz4-space-xs) * var(--rz4-space-multiplier, 1));
  font-size: var(--rz4-text-sm);
  text-align: center;
}

.rz4-text-component em {
  font-style: italic;
}

.rz4-text-component strong {
  font-weight: 700;
}

.rz4-text-component s {
  text-decoration: line-through;
}

.rz4-text-component u {
  text-decoration: underline;
}

.rz4-text-component mark {
  background-color: hsla(var(--rz4-color-accent-hsl), 0.2);
  color: inherit;
}

.rz4-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--rz4-color-contrast-lower-hsl));
  font-style: italic;
}

.rz4-text-component hr {
  margin: calc(var(--rz4-space-md) * var(--rz4-space-multiplier, 1)) auto;
  background: hsl(var(--rz4-color-contrast-lower-hsl));
  height: 1px;
}

.rz4-text-component > *:first-child {
  margin-top: 0;
}

.rz4-text-component > *:last-child {
  margin-bottom: 0;
}

.rz4-text-component.rz4-line-height-xs {
  --rz4-heading-line-height: 1;
  --rz4-body-line-height: 1.1;
}

.rz4-text-component.rz4-line-height-sm {
  --rz4-heading-line-height: 1.1;
  --rz4-body-line-height: 1.2;
}

.rz4-text-component.rz4-line-height-md {
  --rz4-heading-line-height: 1.15;
  --rz4-body-line-height: 1.4;
}

.rz4-text-component.rz4-line-height-lg {
  --rz4-heading-line-height: 1.22;
  --rz4-body-line-height: 1.58;
}

.rz4-text-component.rz4-line-height-xl {
  --rz4-heading-line-height: 1.3;
  --rz4-body-line-height: 1.72;
}

.rz4-height-100vh {
  height: 100vh;
}

.rz4-flex-grow {
  flex-grow: 1;
}

.rz4-z-index-1 {
  z-index: 1;
}

.rz4-position-relative {
  position: relative;
}

.rz4-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rz4-text-md {
  font-size: var(--rz4-text-md);
}

.rz4-z-index-2 {
  z-index: 2;
}

.rz4-border-bottom {
  --rz4-border-o: 1;
  border-bottom: 1px solid var(--wp--preset--color--contrast-low);
}

.rz4-padding-x-md {
  padding-left: var(--rz4-space-md);
  padding-right: var(--rz4-space-md);
}

.rz4-padding-y-sm {
  padding-top: var(--rz4-space-sm);
  padding-bottom: var(--rz4-space-sm);
}

.rz4-bg {
  --rz4-bg-o: 1;
  background-color: var(--wp--preset--color--bg);
}

.rz4-border-right {
  --rz4-border-o: 1;
  border-right: var(--rz4-border-width, 1px) var(--rz4-border-style, solid) hsla(var(--rz4-color-contrast-lower-hsl), var(--rz4-border-o, 1));
}

.rz4-max-width-4xs {
  max-width: 20rem;
}

.rz4-width-100\% {
  width: 100%;
}

.rz4-padding-y-md {
  padding-top: var(--rz4-space-md);
  padding-bottom: var(--rz4-space-md);
}

.rz4-bg-contrast-higher {
  --rz4-bg-o: 1;
  background-color: hsla(var(--rz4-color-contrast-higher-hsl), var(--rz4-bg-o, 1));
}

.rz4-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.rz4-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.rz4-margin-bottom-lg {
  margin-bottom: var(--rz4-space-lg);
}

.rz4-text-center {
  text-align: center;
}

.rz4-max-width-lg {
  max-width: 80rem;
}

.rz4-container {
  width: calc(100% - 2 * var(--rz4-space-md));
  margin-left: auto;
  margin-right: auto;
}

.rz4-padding-y-xl {
  padding-top: var(--rz4-space-xl);
  padding-bottom: var(--rz4-space-xl);
}

.rz4-border-left {
  --rz4-border-o: 1;
  border-left: var(--rz4-border-width, 1px) var(--rz4-border-style, solid) hsla(var(--rz4-color-contrast-lower-hsl), var(--rz4-border-o, 1));
}

.rz4-bg-opacity-10\% {
  --rz4-bg-o: 0.1;
}

.rz4-hide {
  display: none !important;
}

@media (min-width: 64rem) {
  .rz4-flex\@md {
    display: flex;
  }
  .rz4-hide\@md {
    display: none !important;
  }
  .rz4-padding-0\@md {
    padding: 0;
  }
  .rz4-items-start\@md {
    align-items: flex-start;
  }
  .rz4-gap-md\@md {
    gap: var(--rz4-space-md);
  }
  .rz4-flex-row-reverse\@md {
    flex-direction: row-reverse;
  }
  .rz4-col-3\@md {
    grid-column-end: span 3;
  }
  .rz4-col-9\@md {
    grid-column-end: span 9;
  }
  .rz4-padding-x-0\@md {
    padding-left: 0;
    padding-right: 0;
  }
}
/* -------------------------------- 

File#: _2_adv-custom-select
Title: Advanced Custom Select
Descr: Custom select with advanced structure options
Usage: codyhouse.co/license

-------------------------------- */
/* variables */
:root {
  /* colors */
  --ac5-color-primary-hsl: 250, 84%, 54%;
  --ac5-color-bg-hsl: 0, 0%, 100%;
  --ac5-color-contrast-high-hsl: 230, 7%, 23%;
  --ac5-color-contrast-higher-hsl: 230, 13%, 9%;
  --ac5-color-primary-dark-hsl: 250, 84%, 46%;
  --ac5-color-contrast-medium-hsl: 225, 4%, 47%;
  --ac5-color-bg-light-hsl: 0, 0%, 100%;
  --ac5-color-white-hsl: 0, 0%, 100%;
  --ac5-color-bg-dark-hsl: 240, 4%, 95%;
  --ac5-color-bg-lighter-hsl: 0, 0%, 100%;
  --ac5-color-black-hsl: 231, 15%, 9%;
  /* spacing */
  --ac5-space-3xs: 0.25rem;
  --ac5-space-2xs: 0.375rem;
  --ac5-space-sm: 0.75rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --ac5-space-3xs: 0.375rem;
    --ac5-space-2xs: 0.5625rem;
    --ac5-space-sm: 1.125rem;
  }
}
/* buttons */
.ac5-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--ac5-color-bg-dark-hsl));
  color: hsl(var(--ac5-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--ac5-space-2xs) var(--ac5-space-sm);
  border-radius: 0.25em;
}

.ac5-btn:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--ac5-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--ac5-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.ac5-btn:active {
  transform: translateY(2px);
}

.ac5-btn--subtle {
  background: hsl(var(--ac5-color-bg-lighter-hsl));
  color: hsl(var(--ac5-color-contrast-higher-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.ac5-btn--subtle:hover {
  background: hsl(var(--ac5-color-bg-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.ac5-btn--subtle:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--ac5-color-white-hsl), 0.1), 0px 0px 0px 1px hsla(var(--ac5-color-black-hsl), 0.02), 0px 1px 3px -1px hsla(var(--ac5-color-black-hsl), 0.2), 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12), 0px 0px 0px 2px hsl(var(--ac5-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--ac5-color-contrast-high-hsl));
}

/* icons */
.ac5-icon {
  height: var(--ac5-size, 1em);
  width: var(--ac5-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.ac5-icon--2xs {
  --ac5-size: 12px;
}

.ac5-icon--xs {
  --ac5-size: 16px;
}

/* component */
.adv-select-popover {
  --space-unit: 1rem;
  --text-unit: 1rem;
  font-size: var(--text-unit);
}

.adv-select-popover.popover {
  --popover-width: 250px;
  --popover-control-gap: 4px;
  --popover-viewport-gap: 20px;
  --popover-transition-duration: 0.2s;
}

@media (min-width: 64rem) {
  .adv-select-popover.popover {
    --popover-width: 320px;
  }
}
.adv-select-popover__optgroup:not(:first-of-type) {
  padding-top: var(--ac5-space-2xs);
}

.adv-select-popover__optgroup:not(:last-of-type) {
  border-bottom: 1px solid hsla(var(--ac5-color-contrast-higher-hsl), 0.1);
  padding-bottom: var(--ac5-space-2xs);
}

.adv-select-popover__check {
  display: none;
}

.adv-select-popover__label {
  font-size: 0.833rem;
}

.adv-select-popover__option {
  position: relative;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s;
}

.adv-select-popover__option:hover {
  background-color: hsla(var(--ac5-color-contrast-higher-hsl), 0.075);
}

.adv-select-popover__option:focus {
  outline: none;
  background-color: hsla(var(--ac5-color-primary-hsl), 0.15);
}

.adv-select-popover__option[aria-selected=true] {
  background-color: hsl(var(--ac5-color-primary-hsl));
  color: hsl(var(--ac5-color-white-hsl));
}

.adv-select-popover__option[aria-selected=true] .adv-select-popover__check {
  display: block;
}

.adv-select-popover__option[aria-selected=true]:focus {
  box-shadow: inset 0 0 0 2px hsl(var(--ac5-color-primary-dark-hsl));
}

.adv-select-hide {
  display: none;
}

/* utility classes */
.ac5-margin-left-auto {
  margin-left: auto;
}

.ac5-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ac5-margin-right-2xs {
  margin-right: var(--ac5-space-2xs);
}

.ac5-object-cover {
  object-fit: cover;
}

.ac5-radius-50\% {
  border-radius: 50%;
}

.ac5-height-md {
  height: 2rem;
}

.ac5-width-md {
  width: 2rem;
}

.ac5-items-center {
  align-items: center;
}

.ac5-flex {
  display: flex;
}

.ac5-padding-x-sm {
  padding-left: var(--ac5-space-sm);
  padding-right: var(--ac5-space-sm);
}

.ac5-padding-y-3xs {
  padding-top: var(--ac5-space-3xs);
  padding-bottom: var(--ac5-space-3xs);
}

.ac5-padding-y-2xs {
  padding-top: var(--ac5-space-2xs);
  padding-bottom: var(--ac5-space-2xs);
}

.ac5-color-contrast-medium {
  --ac5-color-o: 1;
  color: hsla(var(--ac5-color-contrast-medium-hsl), var(--ac5-color-o, 1));
}

.ac5-hide {
  display: none !important;
}

.ac5-shadow-md {
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

:where(.ac5-inner-glow) {
  position: relative;
}

.ac5-inner-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0deg, 0%, 100%, 0.075);
}

.ac5-radius-md {
  border-radius: 0.25em;
}

.ac5-bg-light {
  --ac5-bg-o: 1;
  background-color: hsla(var(--ac5-color-bg-light-hsl), var(--ac5-bg-o, 1));
}

.ac5-margin-left-2xs {
  margin-left: var(--ac5-space-2xs);
}

/* -------------------------------- 

File#: _3_light-dark-switch
Title: Light/Dark Switch
Descr: Color theme switcher
Usage: codyhouse.co/license

-------------------------------- */
/* variables */
:root {
  /* colors */
  --lc0-color-primary-hsl: 44, 47%, 59%;
  --lc0-color-bg-hsl: 0, 0%, 100%;
  --lc0-color-contrast-high-hsl: 230, 7%, 23%;
  --lc0-color-contrast-higher-hsl: 230, 13%, 9%;
  --lc0-color-contrast-medium-hsl: 225, 4%, 47%;
  --lc0-color-bg-light-hsl: 0, 0%, 100%;
  /* spacing */
  --lc0-space-4xs: 0.125rem;
  --lc0-space-3xs: 0.25rem;
  --lc0-space-xs: 0.5rem;
  /* typography */
  --lc0-text-xs: 0.694rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --lc0-space-4xs: 0.1875rem;
    --lc0-space-3xs: 0.375rem;
    --lc0-space-xs: 0.75rem;
    /* typography */
    --lc0-text-xs: 0.8rem;
  }
}
/* icons */
.lc0-icon {
  height: var(--lc0-size, 1em);
  width: var(--lc0-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

/* component */
.ld-switch-btn {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: inline-block;
  transition: opacity 0.2s, color 0.2s;
  background: none;
  border: 0;
  color: inherit;
}

.ld-switch-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ld-switch-btn:focus {
  outline: none;
}

.ld-switch-btn.popover-control--active {
  /* class added to the control button when the dropdown is visible */
}

.ld-switch-btn__icon-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-transform: translateY(100%) rotate(35deg) scale(0.5);
  transform: translateY(100%) rotate(35deg) scale(0.5);
}

.ld-switch-btn__icon-wrapper--in {
  opacity: 1;
  -webkit-transform: translateY(0) rotate(0) scale(1);
  transform: translateY(0) rotate(0) scale(1);
}

.ld-switch-btn__icon-wrapper--out {
  opacity: 0;
  -webkit-transform: translateY(-100%) rotate(-35deg) scale(0.5);
  transform: translateY(-100%) rotate(-35deg) scale(0.5);
}

.ld-switch-btn__icon-wrapper--in,
.ld-switch-btn__icon-wrapper--out {
  transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ld-switch-btn__icon {
  margin: auto;
  height: 20px;
  width: 20px;
}

.popover.ld-switch-popover {
  --popover-width: 250px;
}

.ld-switch-popover__option {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.2s;
}

.ld-switch-popover__option:hover {
  cursor: pointer;
  opacity: 0.85;
}

.ld-switch-popover__option:focus {
  outline: none;
}

.ld-switch-popover__option:focus figure {
  box-shadow: 0 0 0 1px hsl(var(--lc0-color-bg-light-hsl)), 0 0 0 3px hsl(var(--lc0-color-contrast-higher-hsl));
}

.ld-switch-popover__option[aria-selected=true] figure {
  box-shadow: 0 0 0 1px hsl(var(--lc0-color-bg-light-hsl)), 0 0 0 3px hsl(var(--lc0-color-primary-hsl));
}

/* utility classes */
.lc0-padding-x-4xs {
  padding-left: var(--lc0-space-4xs);
  padding-right: var(--lc0-space-4xs);
}

.lc0-margin-top-3xs {
  margin-top: var(--lc0-space-3xs);
}

.lc0-text-xs {
  font-size: var(--lc0-text-xs);
}

.lc0-radius-0 {
  border-radius: inherit;
}

.lc0-block {
  display: block;
}

:where(.lc0-inner-glow) {
  position: relative;
}

.lc0-inner-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0.5px 1px hsla(0deg, 0%, 100%, 0.075);
}

.lc0-radius-md {
  border-radius: 0.25em;
}

.lc0-color-contrast-medium {
  --lc0-color-o: 1;
  color: hsla(var(--lc0-color-contrast-medium-hsl), var(--lc0-color-o, 1));
}

.lc0-margin-bottom-xs {
  margin-bottom: var(--lc0-space-xs);
}

.lc0-width-100\% {
  width: 100%;
}

.lc0-justify-between {
  justify-content: space-between;
}

.lc0-flex-wrap {
  flex-wrap: wrap;
}

.lc0-flex {
  display: flex;
}

.lc0-shadow-md {
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

.lc0-padding-top-3xs {
  padding-top: var(--lc0-space-3xs);
}

.lc0-padding-bottom-xs {
  padding-bottom: var(--lc0-space-xs);
}

.lc0-padding-x-xs {
  padding-left: var(--lc0-space-xs);
  padding-right: var(--lc0-space-xs);
}

.lc0-bg-light {
  --lc0-bg-o: 1;
  background-color: var(--wp--preset--color--bg);
}

.lc0-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.margin-0 {
  margin: 0;
}

.algolia-autocomplete {
  width: 100% !important;
  top: calc(100% - 5px) !important;
  left: 0 !important;
  box-shadow: var(--wp--custom--shadow-md);
  border-bottom-left-radius: var(--wp--custom--radius-md);
  border-bottom-right-radius: var(--wp--custom--radius-md);
  padding-top: var(--wp--preset--spacing--sm);
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
}
.algolia-autocomplete .aa-dropdown-menu {
  box-shadow: none;
  font-size: var(--wp--preset--font-size--xs);
  font-family: var(--wp--preset--font-family--body);
  box-shadow: none;
}
.algolia-autocomplete .aa-dropdown-menu:before {
  content: "";
  margin-top: calc(-1 * var(--wp--preset--spacing--sm) / 2);
  background: hsl(210deg, 2%, 64%);
  height: 1px;
  position: absolute;
  left: var(--wp--preset--spacing--xxs);
  right: var(--wp--preset--spacing--xxs);
}
.algolia-autocomplete .aa-dropdown-menu a {
  font-size: inherit;
}
.algolia-autocomplete .aa-dropdown-menu a.suggestion-link {
  padding: 0 var(--wp--preset--spacing--xxs);
}
.algolia-autocomplete .autocomplete-empty {
  padding: 5px 15px;
  color: hsl(204deg, 2%, 46%);
}
