@use "./base" as *;

.wp-block-jetpack-related-posts {
  .jp-related-posts-i2__row {
    display: flex;
    gap: 1.25em;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
    }
  }

  .jp-related-posts-i2__post {
    margin: 0 !important;
    max-width: unset !important;

    &-link {
      color: var(--wp--preset--color--contrast-higher);
      font-family: var(--wp--preset--font-family--heading);
      font-size: var(--wp--preset--font-size--lg);
      margin-top: calc(
        var(--wp--preset--spacing--unit) * 0.9375 *
          var(--wp--custom--text-space-y-multiplier)
      );
      margin-bottom: calc(
        var(--wp--preset--spacing--unit) * 0.3125 *
          var(--wp--custom--text-space-y-multiplier)
      );

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-img-link {
      margin: 0;

      &:hover {
        opacity: 0.9;
      }

      img {
        border-radius: var(--wp--custom--radius-md);
        display: block;
        width: 100%;
        height: 14rem;
        object-fit: cover;
      }
    }

    &-date {
      font-size: var(--wp--preset--font-size--sm);
    }
  }
}
