<!-- wp:template-part {"slug":"header","theme":"ankur-eichefam","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":false,"contentSize":"100vw"}} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"margin":{"top":"4rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:4rem"><!-- wp:avatar {"style":{"border":{"radius":"50%"}}} /-->

<!-- wp:query-title {"type":"archive","fontSize":"xxxl"} /--></div>
<!-- /wp:group -->

<!-- wp:post-author-biography {"textColor":"contrast-medium","fontSize":"md"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"loop","theme":"ankur-eichefam"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ankur-eichefam","tagName":"footer","className":"site-footer"} /-->