<!-- wp:template-part {"slug":"header","theme":"ankur-eichefam","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top: 0px">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:post-title {"style":{"spacing":{"margin":{"top":"4rem"}}},"fontSize":"xxxl"} /-->

    <!-- wp:post-excerpt {"textColor":"contrast-medium","fontSize":"md"} /-->

    <!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"textColor":"contrast-high","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
    <div class="wp-block-group has-contrast-high-color has-text-color">
      <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"lg"} -->
      <div class="wp-block-group has-lg-font-size">
        <!-- wp:html -->
        <p>
          <svg
            class="icon"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm.5 16c0 .3-.2.5-.5.5H5c-.3 0-.5-.2-.5-.5V7h15v12zM9 10H7v2h2v-2zm0 4H7v2h2v-2zm4-4h-2v2h2v-2zm4 0h-2v2h2v-2zm-4 4h-2v2h2v-2zm4 0h-2v2h2v-2z"
            ></path>
          </svg>
        </p>
        <!-- /wp:html -->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-date {"fontSize":"base"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"align":"wide"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"20px","className":"mb-0 mt-0"} -->
  <div
    style="height: 20px"
    aria-hidden="true"
    class="wp-block-spacer mb-0 mt-0"
  ></div>
  <!-- /wp:spacer -->

  <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

  <!-- wp:spacer {"height":"40px"} -->
  <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:template-part {"slug":"author","theme":"ankur-eichefam"} /-->

    <!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem","margin":{"top":"2rem"},"padding":{"right":"0px","left":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
    <div
      class="wp-block-group"
      style="margin-top: 2rem; padding-right: 0px; padding-left: 0px"
    >
      <!-- wp:group {"style":{"spacing":{"blockGap":"0.5rem"}},"textColor":"contrast-high","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
      <div class="wp-block-group has-contrast-high-color has-text-color">
        <!-- wp:group {"fontSize":"lg"} -->
        <div class="wp-block-group has-lg-font-size">
          <!-- wp:html -->
          <p>
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <title>Tags</title>
              <path
                d="M20.1 11.2l-6.7-6.7c-.1-.1-.3-.2-.5-.2H5c-.4-.1-.8.3-.8.7v7.8c0 .2.1.4.2.5l6.7 6.7c.2.2.5.4.7.5s.6.2.9.2c.3 0 .6-.1.9-.2.3-.1.5-.3.8-.5l5.6-5.6c.4-.4.7-1 .7-1.6.1-.6-.2-1.2-.6-1.6zM19 13.4L13.4 19c-.1.1-.2.1-.3.2-.2.1-.4.1-.6 0-.1 0-.2-.1-.3-.2l-6.5-6.5V5.8h6.8l6.5 6.5c.2.2.2.4.2.6 0 .1 0 .3-.2.5zM9 8c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1z"
              ></path>
            </svg>
          </p>
          <!-- /wp:html -->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-high"}}},"spacing":{"margin":{"top":"var:preset|spacing|xxxxs"}}},"className":"is-style-default","fontSize":"sm"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"40px"} -->
  <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:comments -->
    <div class="wp-block-comments">
      <!-- wp:comments-title {"showPostTitle":false} /-->

      <!-- wp:comment-template -->
      <!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"bottom":"var:preset|spacing|component-padding"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
      <div
        class="wp-block-group"
        style="margin-bottom: var(--wp--preset--spacing--40)"
      >
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
          <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->

          <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|xxxxs"}},"layout":{"type":"flex","orientation":"vertical"}} -->
          <div class="wp-block-group">
            <!-- wp:comment-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

            <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group">
              <!-- wp:comment-date {"fontSize":"sm"} /-->

              <!-- wp:comment-edit-link {"fontSize":"sm"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
        <div class="wp-block-group">
          <!-- wp:comment-content /-->

          <!-- wp:comment-reply-link {"fontSize":"sm"} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:comment-template -->

      <!-- wp:comments-pagination /-->

      <!-- wp:post-comments-form /-->
    </div>
    <!-- /wp:comments -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"40px"} -->
  <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"1.13rem","left":"1.13rem"}}},"layout":{"inherit":false,"contentSize":"90rem","type":"constrained"}} -->
  <div
    class="wp-block-group alignfull"
    style="padding-right: 1.13rem; padding-left: 1.13rem"
  >
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group">
      <!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->

      <!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"40px"} -->
  <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"1.13rem","left":"1.13rem"}}},"layout":{"inherit":false,"contentSize":"90rem","type":"constrained"}} -->
  <div
    class="wp-block-group alignfull"
    style="padding-right: 1.13rem; padding-left: 1.13rem"
  >
    <!-- wp:heading {"fontSize":"md"} -->
    <h2 class="wp-block-heading has-md-font-size">Related</h2>
    <!-- /wp:heading -->

    <!-- wp:jetpack/related-posts {"displayThumbnails":true} /-->

    <!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":"1","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"layout":{"inherit":false,"contentSize":"100vw","type":"constrained"}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0"},"border":{"radius":"4px"},"dimensions":{"minHeight":"14rem"}},"className":"wp-block-post-featured-image-wrapper","layout":{"type":"constrained"}} -->
      <div
        class="wp-block-group wp-block-post-featured-image-wrapper"
        style="
          border-radius: 4px;
          min-height: 14rem;
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 0;
        "
      >
        <!-- wp:image {"id":64738,"sizeSlug":"large","linkDestination":"none","className":"wp-block-post-featured-image-placeholder"} -->
        <figure
          class="wp-block-image size-large wp-block-post-featured-image-placeholder"
        >
          <img
            src="https://eichefam.net/assets/rhone-bg-v1.svg"
            alt=""
            class="wp-image-64738"
          />
        </figure>
        <!-- /wp:image -->

        <!-- wp:post-featured-image {"isLink":true,"height":"14rem"} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-title {"isLink":true,"fontSize":"lg"} /-->

      <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast-high"}}}}} /-->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ankur-eichefam","tagName":"footer","className":"site-footer"} /-->
