
// Override inline styles
.algolia-autocomplete {
	width: 100% !important;
	top: calc(100% - 5px) !important;
	left: 0 !important;
	box-shadow: var(--wp--custom--shadow-md);
	border-bottom-left-radius: var(--wp--custom--radius-md);
	border-bottom-right-radius: var(--wp--custom--radius-md);
	padding-top: var(--wp--preset--spacing--sm);
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);

	.aa-dropdown-menu {
		box-shadow: none;
		font-size: var(--wp--preset--font-size--xs);
		font-family: var(--wp--preset--font-family--body);
		box-shadow: none;

		&:before {
			content: "";
			margin-top: calc(-1 * var(--wp--preset--spacing--sm) / 2);
			background: hsl(210deg, 2%, 64%);
			height: 1px;
			position: absolute;
			left: var(--wp--preset--spacing--xxs);
			right: var(--wp--preset--spacing--xxs);
		}

		a {
			font-size: inherit;

			&.suggestion-link {
				padding: 0 var(--wp--preset--spacing--xxs);
			}
		}
	}

	.autocomplete-empty {
		padding: 5px 15px;
		color: hsl(204, 2%, 46%);
	}
}
