.algolia-autocomplete {
  display: block;
  position: static !important; // override inline style
  width: 100% !important; // override inline style
  margin-top: var(--wp--preset--spacing--40);

  .aa-dropdown-menu {
    font-family: var(--wp--preset--font-family--body);
    color: var(--wp--preset--color--contrast-higher);
    background-color: transparent;
    box-shadow: none;
    display: flex !important; // override inline style
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);

    // categories & tags
    .aa-dataset-2,
    .aa-dataset-3 {
      .aa-suggestions {
        display: inline-flex !important;
        gap: 4px;
        flex-wrap: wrap;
      }

      .aa-suggestion {
        padding: 0;

        &.aa-cursor {
          background: none;
        }

        em {
          color: inherit;
          background: none;
        }
      }

      .suggestion-link {
        background-color: var(--wp--preset--color--contrast-lower);
        color: var(--wp--preset--color--contrast-high);
        text-decoration: none;
        border-radius: 9999px;
        padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
        display: inline-block;
        font-size: var(--wp--preset--font-size--sm);
      }
    }

    // tags
    .aa-dataset-3 {
      .suggestion-link {
        background-color: transparent;
        color: var(--wp--preset--color--contrast-high);
        border: 2px solid var(--wp--preset--color--contrast-low);
        padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
      }
    }

    // posts
    .aa-dataset-1 {
      .aa-suggestions {
        display: flex !important; // override inline style
        gap: var(--wp--preset--spacing--40);
        flex-wrap: wrap;

        @media (min-width: 80rem) {
          --overflow-size: 8rem;
          width: calc(100% + var(--overflow-size) * 2);
          margin-left: calc(var(--overflow-size) * -1);
        }
      }

      .aa-suggestion {
        width: 100%;
        padding: 0;

        &.aa-cursor {
          background: var(--wp--preset--color--contrast-lower);
          border-radius: var(--wp--custom--radius-lg);
          box-shadow:
            var(--wp--preset--spacing--20) var(--wp--preset--spacing--20)
              var(--wp--preset--color--contrast-lower),
            calc(var(--wp--preset--spacing--20) * -1)
              calc(var(--wp--preset--spacing--20) * -1)
              var(--wp--preset--color--contrast-lower),
            var(--wp--preset--spacing--20)
              calc(var(--wp--preset--spacing--20) * -1)
              var(--wp--preset--color--contrast-lower),
            calc(var(--wp--preset--spacing--20) * -1)
              var(--wp--preset--spacing--20)
              var(--wp--preset--color--contrast-lower);
        }

        @media (min-width: 600px) {
          width: calc(33.33333% - (var(--wp--preset--spacing--40) / 1.5));
        }

        em {
          color: inherit;
          background: none;
          box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--accent);
          padding: 0 0 1px;
        }

        .suggestion-post-content {
          font-size: var(--wp--preset--font-size--sm);
          color: inherit;

          em {
            box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--accent);
          }
        }
      }
    }
  }
}
