// Nest everything inside the site blocks wrapper
// to override the default styles.
.wp-site-blocks {
  #ais-wrapper {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    gap: var(--wp--preset--spacing--40);
  }

  #ais-main,
  #ais-facets {
    padding: 0;
  }

  #ais-facets {
    transition: 0;

    @media (max-width: 1000px) {
      display: block;
      position: fixed;
      background-color: var(--wp--preset--color--bg);
      left: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
      box-shadow: var(--wp--preset--shadow--lg);
      width: 100%;
      max-width: 380px;
      transform: translateX(-100%);
      transition: transform 0.3s;

      > div {
        padding-left: var(--wp--preset--spacing--50);
        padding-right: var(--wp--preset--spacing--50);
      }
    }
  }

  .ais-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .ais-overlay.is-visible {
    display: none;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  #ais-facets.is-visible {
    transform: translateX(0);
  }

  .ais-facets__filter {
    position: absolute;
    right: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: var(--wp--preset--color--contrast-high);
    font-size: var(--wp--preset--font-size--lg);
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .ais-facets__header {
    display: none;
    border-bottom: 1px solid var(--wp--preset--color--contrast-lower);
    padding-top: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--50);

    @media (max-width: 1000px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .ais-facets__close {
    border: 0;
    background: var(--wp--preset--color--contrast-lower);
    border-radius: 50%;
    width: var(--wp--preset--spacing--60);
    height: var(--wp--preset--spacing--60);
    font-size: var(--wp--preset--font-size--lg);
    cursor: pointer;
  }

  .ais-facets {
    font-size: var(--wp--preset--font-size--sm);
    margin: 0;
  }

  #algolia-search-box input {
    border-color: var(--wp--preset--color--accent);
    padding-left: var(--wp--preset--spacing--60);
    color: var(--wp--preset--color--contrast-high);

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;

      &::after {
        content: "&times;";
      }
    }
  }

  .ais-Stats-text {
    color: var(--wp--preset--color--contrast-medium);
  }

  .algolia-search-box-wrapper .search-icon,
  .algolia-icon {
    --size: var(--wp--preset--font-size--xl);
    fill: var(--wp--preset--color--contrast-high);
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .algolia-icon {
    --size: var(--wp--preset--font-size--base);
    position: absolute;
    right: 2.5rem;

    @media (min-width: 64rem) {
      right: 0;
    }
  }

  .ais-Hits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--wp--preset--spacing--40);
  }

  .ais-Hits-item {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;

    em,
    a em,
    mark,
    a mark {
      background: none;
      box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--accent);
      padding: 0 0 1px;
      border-radius: 0;
    }

    @media (min-width: 600px) {
      width: calc(50% - (var(--wp--preset--spacing--40) / 2));
    }
  }

  .widgettitle {
    margin-bottom: var(--wp--preset--spacing--20);
  }

  .ais-facets ul {
    margin-top: 0;
  }

  .ais-Menu-link,
  .ais-HierarchicalMenu-link,
  .ais-RefinementList-label {
    padding-left: 1.5rem;
    position: relative;
    display: block;
    margin-bottom: var(--wp--preset--spacing--30);
  }

  .ais-Menu-link,
  .ais-HierarchicalMenu-link {
    text-decoration: none;
  }

  .ais-RefinementList-label {
    cursor: pointer;
  }

  .ais-Menu-link::before,
  .ais-HierarchicalMenu-link::before,
  .ais-RefinementList-checkbox {
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--wp--preset--color--contrast-medium);
  }

  .ais-Menu-link::before,
  .ais-HierarchicalMenu-link::before {
    content: "";
    top: 3px;
    border-radius: 20rem;
  }

  .ais-RefinementList-checkbox {
    padding: 0;
    margin: 0;
    top: 4px;
    appearance: none;
    border-radius: var(--wp--custom--radius-md);
  }

  .ais-Menu-item--selected .ais-Menu-link::before,
  .ais-HierarchicalMenu-item--selected .ais-HierarchicalMenu-link::before,
  .ais-RefinementList-checkbox:checked {
    background-color: var(--wp--preset--color--primary);
    border-color: var(--wp--preset--color--primary);
    background-repeat: no-repeat;
    background-position: center;
  }

  .ais-RefinementList-checkbox:checked {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMicgaGVpZ2h0PScxMicgdmlld0JveD0nMCAwIDEyIDEyJz48cG9seWxpbmUgcG9pbnRzPScxIDYuNSA0IDkuNSAxMSAyLjUnIGZpbGw9J25vbmUnIHN0cm9rZT0nI0ZGRkZGRicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzInLz48L3N2Zz4=);
    background-size: 11px;
  }

  .ais-Menu-link:hover::before,
  .ais-HierarchicalMenu-link:hover::before,
  .ais-RefinementList-label:hover .ais-RefinementList-checkbox {
    border-color: var(--wp--preset--color--contrast-high);
  }

  .ais-Menu-label,
  .ais-HierarchicalMenu-label,
  .ais-RefinementList-labelText,
  .ais-RefinementList-label {
    margin-right: 5px;
  }

  .ais-Menu-link:hover .ais-Menu-label,
  .ais-HierarchicalMenu-link:hover .ais-HierarchicalMenu-label,
  .ais-RefinementList-label:hover .ais-RefinementList-labelText {
    text-decoration: underline;
  }

  .ais-Menu-item--selected,
  .ais-HierarchicalMenu-item--selected {
    font-weight: 400;
  }

  .ais-Menu-item--selected .ais-Menu-link::before,
  .ais-HierarchicalMenu-item--selected .ais-HierarchicalMenu-link::before {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PGcgY2xhc3M9J25jLWljb24td3JhcHBlcicgZmlsbD0nI2ZmZmZmZic+PGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzgnIGZpbGw9JyNmZmZmZmYnPjwvY2lyY2xlPjwvZz48L3N2Zz4=);
    background-size: 7px;
  }

  .ais-HierarchicalMenu--noRefinement::before,
  .ais-RefinementList--noRefinement::before {
    content: "No matches";
    font-style: italic;
    color: var(--wp--preset--color--contrast-medium);
  }

  .ais-Menu-count,
  .ais-HierarchicalMenu-count,
  .ais-RefinementList-count {
    margin: 0;
    background-color: var(--wp--preset--color--contrast-lower);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
    font-size: var(--wp--preset--font-size--xs);
    border-radius: 20rem;
    vertical-align: middle;
  }

  .ais-Pagination-list {
    margin: var(--wp--preset--spacing--60) 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--wp--preset--spacing--40);
    justify-content: center;
  }

  .ais-Pagination-item {
    padding: 0;
  }

  .ais-Pagination-link {
    background-color: var(--wp--preset--color--contrast-lower);
    color: var(--wp--preset--color--contrast-high);
    text-decoration: none;
    border-radius: var(--wp--custom--radius-lg);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);

    &:hover {
      opacity: 0.9;
    }
  }

  .ais-Pagination-item--selected {
    font-weight: 400;
  }

  .ais-Pagination-item--selected .ais-Pagination-link {
    background-color: var(--wp--preset--color--contrast-high);
    color: var(--wp--preset--color--contrast-lower);
  }
}
